USE [master]
GO
/****** Object:  Database [ev_rental_final]    Script Date: 9/30/2025 11:59:44 PM ******/
CREATE DATABASE [ev_rental_final]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ev_rental_final', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ev_rental_final.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ev_rental_final_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ev_rental_final_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ev_rental_final].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ev_rental_final]
GO
/****** Object:  UserDefinedFunction [dbo].[udf_EffectiveDailyPrice]    Script Date: 9/30/2025 11:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[udf_EffectiveDailyPrice]
(
    @vehicle_id INT,
    @forDate    DATE
)
    RETURNS DECIMAL(12,0)
AS
BEGIN
    DECLARE @base  DECIMAL(12,0),
            @surch DECIMAL(12,0);

SELECT @base = daily_price, @surch = weekend_daily_surcharge
FROM PricingRule WHERE vehicle_id = @vehicle_id;

IF (@base IS NULL) RETURN NULL;

    IF (DATENAME(WEEKDAY, @forDate) IN ('Saturday','Sunday')
        OR EXISTS (SELECT 1 FROM HolidayDates h WHERE h.[date] = @forDate))
        RETURN @base + @surch;

RETURN @base;
END;
GO
/****** Object:  Table [dbo].[PenaltyPolicy]    Script Date: 9/30/2025 11:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PenaltyPolicy](
	[policy_id] [int] IDENTITY(1,1) NOT NULL,
	[category] [nvarchar](30) NOT NULL,
	[severity] [nvarchar](30) NOT NULL,
	[unit] [nvarchar](20) NULL,
	[default_unit_price] [decimal](12, 0) NULL,
	[default_min_fee] [decimal](12, 0) NULL,
	[default_max_fee] [decimal](12, 0) NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[policy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Penalty]    Script Date: 9/30/2025 11:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penalty](
	[penalty_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[fee] [decimal](12, 0) NOT NULL,
	[note] [nvarchar](255) NULL,
	[category] [nvarchar](30) NOT NULL,
	[severity] [nvarchar](30) NULL,
	[unit] [nvarchar](20) NULL,
	[qty] [decimal](10, 2) NULL,
	[unit_price] [decimal](12, 0) NULL,
	[min_fee] [decimal](12, 0) NULL,
	[max_fee] [decimal](12, 0) NULL,
	[policy_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[penalty_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwPenaltySuggested]    Script Date: 9/30/2025 11:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwPenaltySuggested] AS
SELECT p.penalty_id, p.order_id, p.[name], p.[description], p.fee,
       p.category, p.severity, p.[unit], p.qty, p.unit_price, p.min_fee, p.max_fee,
       pol.default_unit_price, pol.default_min_fee, pol.default_max_fee,
       CASE
           WHEN p.[unit] IS NOT NULL AND p.qty IS NOT NULL
               THEN CAST(p.qty * COALESCE(p.unit_price, pol.default_unit_price) AS DECIMAL(12,0))
           WHEN COALESCE(p.min_fee, pol.default_min_fee) IS NOT NULL
               AND COALESCE(p.max_fee, pol.default_max_fee) IS NOT NULL
               AND COALESCE(p.min_fee, pol.default_min_fee) = COALESCE(p.max_fee, pol.default_max_fee)
               THEN COALESCE(p.min_fee, pol.default_min_fee)
           ELSE NULL
           END AS suggested_fee
FROM dbo.Penalty p
         LEFT JOIN dbo.PenaltyPolicy pol ON p.policy_id = pol.policy_id;
GO
/****** Object:  Table [dbo].[DamageReport]    Script Date: 9/30/2025 11:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DamageReport](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NOT NULL,
	[reporter_id] [int] NOT NULL,
	[station_id] [int] NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[resolved_at] [datetime] NULL,
	[handled_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 9/30/2025 11:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](255) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HolidayDates]    Script Date: 9/30/2025 11:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HolidayDates](
	[date] [date] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 9/30/2025 11:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[amount] [decimal](12, 0) NOT NULL,
	[method] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photo]    Script Date: 9/30/2025 11:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photo](
	[photo_id] [int] IDENTITY(1,1) NOT NULL,
	[entity_type] [nvarchar](50) NOT NULL,
	[entity_id] [int] NOT NULL,
	[url] [nvarchar](255) NOT NULL,
	[uploaded_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[photo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PricingRule]    Script Date: 9/30/2025 11:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PricingRule](
	[pricing_rule_id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NOT NULL,
	[base_hours] [tinyint] NOT NULL,
	[base_hours_price] [decimal](12, 0) NOT NULL,
	[extra_hour_price] [decimal](12, 0) NOT NULL,
	[daily_price] [decimal](12, 0) NOT NULL,
	[weekend_daily_surcharge] [decimal](12, 0) NOT NULL,
	[max_days] [tinyint] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pricing_rule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalOrder]    Script Date: 9/30/2025 11:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalOrder](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[vehicle_id] [int] NOT NULL,
	[start_time] [datetime] NOT NULL,
	[end_time] [datetime] NOT NULL,
	[total_price] [decimal](12, 0) NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalStation]    Script Date: 9/30/2025 11:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalStation](
	[station_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[active] [bit] NOT NULL,
	[city] [nvarchar](100) NOT NULL,
	[district] [nvarchar](100) NOT NULL,
	[ward] [nvarchar](100) NOT NULL,
	[street] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[station_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalTracking]    Script Date: 9/30/2025 11:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalTracking](
	[tracking_id] [int] IDENTITY(1,1) NOT NULL,
	[rental_order_id] [int] NOT NULL,
	[vehicle_id] [int] NOT NULL,
	[pickup_at] [datetime] NULL,
	[return_due_at] [datetime] NULL,
	[return_at] [datetime] NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tracking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 9/30/2025 11:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[role] [nvarchar](20) NOT NULL,
	[kyc_status] [nvarchar](50) NOT NULL,
	[license_number] [nvarchar](50) NULL,
	[cccd_number] [nvarchar](50) NULL,
	[cccd_front] [nvarchar](255) NULL,
	[cccd_back] [nvarchar](255) NULL,
	[license_photo] [nvarchar](255) NULL,
	[position] [nvarchar](50) NULL,
	[station_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 9/30/2025 11:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[vehicle_id] [int] IDENTITY(1,1) NOT NULL,
	[station_id] [int] NOT NULL,
	[plate_number] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[seat_count] [int] NOT NULL,
	[variant] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Vehicle_Plate] UNIQUE NONCLUSTERED 
(
	[plate_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleAttribute]    Script Date: 9/30/2025 11:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleAttribute](
	[attr_id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NOT NULL,
	[attr_name] [nvarchar](50) NOT NULL,
	[value] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[attr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DamageReport] ADD  CONSTRAINT [DF_Dam_Created]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [DF_Fb_Created]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF_Payment_Created]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Penalty] ADD  CONSTRAINT [DF_Penalty_Category]  DEFAULT ('other') FOR [category]
GO
ALTER TABLE [dbo].[Photo] ADD  CONSTRAINT [DF_Photo_Uploaded]  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[PricingRule] ADD  CONSTRAINT [DF_PR_BaseHours]  DEFAULT ((3)) FOR [base_hours]
GO
ALTER TABLE [dbo].[PricingRule] ADD  CONSTRAINT [DF_PR_Wknd]  DEFAULT ((100000)) FOR [weekend_daily_surcharge]
GO
ALTER TABLE [dbo].[PricingRule] ADD  CONSTRAINT [DF_PR_MaxDays]  DEFAULT ((7)) FOR [max_days]
GO
ALTER TABLE [dbo].[PricingRule] ADD  CONSTRAINT [DF_PR_Created]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[RentalStation] ADD  CONSTRAINT [DF_RentalStation_Active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[RentalTracking] ADD  CONSTRAINT [DF_RT_Status]  DEFAULT ('ONGOING') FOR [status]
GO
ALTER TABLE [dbo].[RentalTracking] ADD  CONSTRAINT [DF_RT_Created]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[RentalTracking] ADD  CONSTRAINT [DF_RT_Updated]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[DamageReport]  WITH CHECK ADD  CONSTRAINT [FK_Dam_Station] FOREIGN KEY([station_id])
REFERENCES [dbo].[RentalStation] ([station_id])
GO
ALTER TABLE [dbo].[DamageReport] CHECK CONSTRAINT [FK_Dam_Station]
GO
ALTER TABLE [dbo].[DamageReport]  WITH CHECK ADD  CONSTRAINT [FK_Dam_User1] FOREIGN KEY([reporter_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[DamageReport] CHECK CONSTRAINT [FK_Dam_User1]
GO
ALTER TABLE [dbo].[DamageReport]  WITH CHECK ADD  CONSTRAINT [FK_Dam_User2] FOREIGN KEY([handled_by])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[DamageReport] CHECK CONSTRAINT [FK_Dam_User2]
GO
ALTER TABLE [dbo].[DamageReport]  WITH CHECK ADD  CONSTRAINT [FK_Dam_Vehicle] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[DamageReport] CHECK CONSTRAINT [FK_Dam_Vehicle]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[RentalOrder] ([order_id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Order]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[RentalOrder] ([order_id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Order]
GO
ALTER TABLE [dbo].[Penalty]  WITH CHECK ADD  CONSTRAINT [FK_Penalty_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[RentalOrder] ([order_id])
GO
ALTER TABLE [dbo].[Penalty] CHECK CONSTRAINT [FK_Penalty_Order]
GO
ALTER TABLE [dbo].[Penalty]  WITH CHECK ADD  CONSTRAINT [FK_Penalty_Policy] FOREIGN KEY([policy_id])
REFERENCES [dbo].[PenaltyPolicy] ([policy_id])
GO
ALTER TABLE [dbo].[Penalty] CHECK CONSTRAINT [FK_Penalty_Policy]
GO
ALTER TABLE [dbo].[PricingRule]  WITH CHECK ADD  CONSTRAINT [FK_PR_Vehicle] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[PricingRule] CHECK CONSTRAINT [FK_PR_Vehicle]
GO
ALTER TABLE [dbo].[RentalOrder]  WITH CHECK ADD  CONSTRAINT [FK_RO_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[RentalOrder] CHECK CONSTRAINT [FK_RO_Customer]
GO
ALTER TABLE [dbo].[RentalOrder]  WITH CHECK ADD  CONSTRAINT [FK_RO_Vehicle] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[RentalOrder] CHECK CONSTRAINT [FK_RO_Vehicle]
GO
ALTER TABLE [dbo].[RentalTracking]  WITH CHECK ADD  CONSTRAINT [FK_RT_Order] FOREIGN KEY([rental_order_id])
REFERENCES [dbo].[RentalOrder] ([order_id])
GO
ALTER TABLE [dbo].[RentalTracking] CHECK CONSTRAINT [FK_RT_Order]
GO
ALTER TABLE [dbo].[RentalTracking]  WITH CHECK ADD  CONSTRAINT [FK_RT_Vehicle] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[RentalTracking] CHECK CONSTRAINT [FK_RT_Vehicle]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Station] FOREIGN KEY([station_id])
REFERENCES [dbo].[RentalStation] ([station_id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Station]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK_Vehicle_Station] FOREIGN KEY([station_id])
REFERENCES [dbo].[RentalStation] ([station_id])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK_Vehicle_Station]
GO
ALTER TABLE [dbo].[VehicleAttribute]  WITH CHECK ADD  CONSTRAINT [FK_VAttr_Vehicle] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[VehicleAttribute] CHECK CONSTRAINT [FK_VAttr_Vehicle]
GO
ALTER TABLE [dbo].[DamageReport]  WITH CHECK ADD CHECK  (([status]='resolved' OR [status]='in_progress' OR [status]='pending'))
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([method]='momo' OR [method]='cash' OR [method]='card'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([status]='pending' OR [status]='failed' OR [status]='paid'))
GO
ALTER TABLE [dbo].[Penalty]  WITH CHECK ADD  CONSTRAINT [CK_Penalty_Category] CHECK  (([category]='other' OR [category]='interior' OR [category]='odor' OR [category]='mirror' OR [category]='paint' OR [category]='glass' OR [category]='late_return'))
GO
ALTER TABLE [dbo].[Penalty] CHECK CONSTRAINT [CK_Penalty_Category]
GO
ALTER TABLE [dbo].[PenaltyPolicy]  WITH CHECK ADD  CONSTRAINT [CK_Policy_Category] CHECK  (([category]='interior' OR [category]='odor' OR [category]='mirror' OR [category]='paint' OR [category]='glass' OR [category]='late_return'))
GO
ALTER TABLE [dbo].[PenaltyPolicy] CHECK CONSTRAINT [CK_Policy_Category]
GO
ALTER TABLE [dbo].[PricingRule]  WITH CHECK ADD  CONSTRAINT [CK_PR_BaseHours] CHECK  (([base_hours]=(3)))
GO
ALTER TABLE [dbo].[PricingRule] CHECK CONSTRAINT [CK_PR_BaseHours]
GO
ALTER TABLE [dbo].[PricingRule]  WITH CHECK ADD  CONSTRAINT [CK_PR_MaxDays] CHECK  (([max_days]>=(1) AND [max_days]<=(30)))
GO
ALTER TABLE [dbo].[PricingRule] CHECK CONSTRAINT [CK_PR_MaxDays]
GO
ALTER TABLE [dbo].[RentalOrder]  WITH CHECK ADD CHECK  (([status]='cancelled' OR [status]='completed' OR [status]='active' OR [status]='pending'))
GO
ALTER TABLE [dbo].[RentalOrder]  WITH CHECK ADD  CONSTRAINT [CK_RO_Max7Day] CHECK  (([end_time]<=dateadd(day,(7),[start_time])))
GO
ALTER TABLE [dbo].[RentalOrder] CHECK CONSTRAINT [CK_RO_Max7Day]
GO
ALTER TABLE [dbo].[RentalOrder]  WITH CHECK ADD  CONSTRAINT [CK_RO_Time] CHECK  (([end_time]>[start_time]))
GO
ALTER TABLE [dbo].[RentalOrder] CHECK CONSTRAINT [CK_RO_Time]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([kyc_status]='pending' OR [kyc_status]='verified'))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([role]='staff' OR [role]='customer'))
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD CHECK  (([seat_count]=(7) OR [seat_count]=(4)))
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD CHECK  (([status]='broken' OR [status]='maintenance' OR [status]='rented' OR [status]='available'))
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [CK_Vehicle_SeatVariant] CHECK  (([seat_count]=(4) AND ([variant] IS NULL OR [variant]='standard') OR [seat_count]=(7) AND ([variant]='pro' OR [variant]='plus' OR [variant]='air')))
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [CK_Vehicle_SeatVariant]
GO
USE [master]
GO
